doctype html
html
    head
        style.
            p {
                font-family: Arial;
                font-size: 12px;
            }
            pre {
                font-family: Arial;
                font-size: 12px;
            }
    body
        .anrede
            p #{form.anrede}
        .name
            p #{form.vorname} #{form.nachname}
        .firma
            p #{form.firmenname}
        .adresse
            p #{form.strasse} #{form.nummer}
            p #{form.postleizahl} #{form.ort}
        .tel
            p Tel.: #{form.telefon}
            p E-Mail: #{form.email}
        br
        br
        .beschreibung
            pre
                p #{form.beschreibung}